<div class="row">
    <hr>
</div>
<div class="row">

    <div class="col-lg-6 offset-lg-2 col-12 justify-content-center">
        <h5 class="text-white">Graphique : </h5>

        <select class="form-control " name="" id="" (change)="changeGraph()">
            <option selected disabled>Liste des actions</option>
            <option *ngFor="let stock of histData; let index = index;"  [value]=index>{{stock.symbol}}</option>
        </select>
    </div>

</div>
<div class="row" style="margin-bottom: 5%;">
<div class="offset-lg-2 col-lg-8 col-12 my-4  w-100 shadow-custom rounded p-0" id="container"></div>
</div>