<script src="../authentification/authentification.component.spec.ts"></script>
<div class="wrapper">
  <div id="sideBar">
    <app-liste-comptes></app-liste-comptes>
  </div>
  <div id="expandButton" class="d-flex align-items-center justify-content-center" (click)="toggleSidebar()" style="cursor: pointer; z-index: 1">
    <div id="expandWay" (click)="toggleSidebar()">  </div>
  </div>
  <div class="container-fluid">
    <app-navigation></app-navigation>
    <div id="listOperationWrapper">
      <div class="alert alertMain" (click)="hideAlert()"></div>
      <app-liste-operations class="d-block" style="margin:0;"></app-liste-operations>
    </div>
  </div>

  <div id="filtre" (click)="toggleSidebar()"></div>


</div>
